<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="css//bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="sample">
            <form v-if="!formSubmited" @submit.prevent="toggleForm">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" v-bind:style="'width:' + calcProgress +'%'" v-bind:aria-valuenow="calcProgress">
                        {{calcProgress}}
                    </div>
                </div>
                <div>
                    <div class="form-group" v-for="(elem, index) in info">
                        <label v-bind:class="'label-' + elem.name">{{ elem.name }}</label>
                        <i v-bind:class="[{fa:true}, check[elem.name]]"></i>
                        <input type="text" class="form-control" v-model="elem.value" @input="checkValue($event, elem)">
                    </div>

                </div>
                <button class="btn btn-primary" v-bind:disabled="disabledButton">
					Send Data
				</button>
            </form>
            <div v-else="formSubmited">
                <table class="table table-bordered">
                    <tr v-for="elem in info">
                        <td>{{ elem.name }}</td>
                        <td>{{ elem.value }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script>
        let sample = new Vue({
            el: '.sample',
            data: {
                info: [{
                    name: 'Name',
                    value: '',
                    pattern: /^[a-zA-Z ]{2,30}$/

                }, {
                    name: 'Phone',
                    value: '',
                    pattern: /^[0-9]{7,14}$/

                }, {
                    name: 'Email',
                    value: '',
                    pattern: /.+/
                }, {
                    name: 'Some Field 1',
                    value: '',
                    pattern: /.+/

                }, {
                    name: 'Some Field 2',
                    value: '',
                    pattern: /.+/

                }],
                statuses: {
                    error: 'fa fa-check-circle',
                    info: 'fa fa-info-circle'
                },
                check: {},
                progress: 0,
                fieldFulled: 0,
                formSubmited: false

            },
            computed: {
                calcProgress() {

                    return 100 / this.info.length * this.fieldFulled;
                },
                disabledButton() {
                    return this.calcProgress !== 100 ? true : false;
                }
            },
            methods: {
                checkValue(e, elem) {

                    let elemChecked = elem.value.length > 0 ? elem.pattern.test(elem.value) ? this.statuses.error : this.statuses.info : '';
                    this.check[elem.name] = elemChecked;
                    this.fieldFulled = 0;
                    for (a in this.check) {
                        this.check[a] === this.statuses.error ? this.fieldFulled++ : 'no'
                    }
                },
                toggleForm() {
                    this.formSubmited = !this.formSubmited;
                }

            }
        });
    </script>
    <style>
        .fa-check-circle {
            color: green;
        }
        
        .fa-info-circle {
            color: red;
        }
    </style>
</body>

</html>