<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="sample">
            <div class="alert" v-bind:class="divClassName">Some text</div>

            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" 
                            class="form-check-input" 
                            value="info" 
                            v-model="divClass"
                    >
                    Info
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" 
                            class="form-check-input" 
                            value="warning" 
                            v-model="divClass"
                    >
                    Warning
                </label>
            </div>
            {{divClass}}
            <hr>
            <div class="form-check" v-for="(value, name) in flags">
                <label class="form-check-label">
                    <input type="checkbox" 
                            class="form-check-input"
                            v-model="flags[name]"
                    >
                    {{ name }}
                </label>
            </div>
            <hr>
            <table class="table" :class="flags">
                <tr>
                    <td>Title</td>
                    <td>Some</td>
                    <td>nz</td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>Some</td>
                    <td>nz</td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>Some</td>
                    <td>nz</td>
                </tr>
            </table>
        </div>
    </div>
    <style>
        .my-info {
            font-family: italic;
        }
        
        .my-warning {
            font-size: 20px;
        }
        
        .table-some {
            color: #fff;
            background: #000;
        }
    </style>
    <script>
        let sample = new Vue({
            el: '.sample',
            data: {
                divClass: '',
                flags: {
                    'table-bordered': false,
                    'table-hover': false,
                    'table-some': false,
                }
            },
            computed: {
                divClassName() {
                    return [
                        'alert-' + this.divClass,
                        'my-' + this.divClass
                    ]
                }
            }
        });
    </script>
</body>

</html>